@charset "utf-8";

/* 입점상담 - 메일상담 페이지 */
.hidden {
    position: absolute;
    left: -1000%;
    top: 0;
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: #fff;
}

.join {
    width: 1200px;
    margin: 150px auto;
}

.join h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
}

table {
    width: 1200px;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #dfdfdf;
    padding: 30px;
}

th {
    width: 250px;
    font-size: 1.4rem;
}

#user_name, 
#phone1, 
#phone2, 
#phone3, 
#email1, 
#email2 {
    width: 200px;
    height: 10px;
    padding: 10px 0;
    font-size: 1.3rem;
}
.button {
    text-align: center;
}

.button input {
    width: 150px;
    padding: 10px 0;
    font-size: 1.5rem;
    border: 0;
    background: orange;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 20px;
}
#memo{
    font-size: 1.1rem;
}